@import url(http://fonts.googleapis.com/css?family=Podkova:400,700);
/* [Foundation icons](http://zurb.com/playground/foundation-icons) */
@font-face {
  font-family: 'SocialFoundicons';
  src: url('../fonts/social_foundicons.eot');
  src: url('../fonts/social_foundicons.eot?#iefix') format('embedded-opentype'), url('../fonts/social_foundicons.woff') format('woff'), url('../fonts/social_foundicons.ttf') format('truetype'), url('../fonts/social_foundicons.svg#socialFoundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
[class*="foundicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  text-decoration: inherit;
}
.foundicon-facebook:before {
  content: "\f003";
}
.foundicon-twitter:before {
  content: "\f004";
}
.foundicon-github:before {
  content: "\f006";
}
/* Color */
body {
  background-color: #000;
  color: #ccc;
}
body .ldc-copyright span {
  color: #444;
}
body#ldc-page-about {
  background-color: #fff;
  color: #555;
}
body#ldc-page-about .ldc-copyright span {
  color: #999;
}
/* Typography */
body {
  font-family: verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
.button,
#header,
#footer {
  font-family: 'Podkova', sans-serif;
  font-weight: bold;
  line-height: 1.1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2285a2;
  text-align: center;
}
p {
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: center;
}
/* Utility */
.ldc-raise-icon {
  vertical-align: .7rem;
}
/* Header and Footer */
#header,
#footer {
  padding-top: 10px;
  font-size: 1.2rem;
}
#header .ldc-social,
#footer .ldc-social,
#header .ldc-menu,
#footer .ldc-menu,
#header .ldc-legal,
#footer .ldc-legal,
#header .ldc-copyright,
#footer .ldc-copyright {
  text-align: center;
}
#header .ldc-menu,
#footer .ldc-menu {
  padding-bottom: 1rem;
}
#header .ldc-legal,
#footer .ldc-legal {
  padding-bottom: .5rem;
}
#header .ldc-social a,
#footer .ldc-social a {
  padding: 0 .25rem;
}
#header .ldc-menu a,
#footer .ldc-menu a,
#header .ldc-legal a,
#footer .ldc-legal a,
#header .ldc-copyright span,
#footer .ldc-copyright span {
  padding: 0 .5rem;
}
@media only screen and (min-width: 40.063em) {
  #header,
  #footer {
    padding-bottom: 10px;
  }
  #header .ldc-social,
  #footer .ldc-social,
  #header .ldc-legal,
  #footer .ldc-legal {
    text-align: left;
    padding-bottom: 0;
  }
  #header .ldc-menu,
  #footer .ldc-menu,
  #header .ldc-copyright,
  #footer .ldc-copyright {
    text-align: right;
    padding-bottom: 0;
  }
}
.large-12.columns > img,
.large-12.columns > a > img {
  width: 1100px;
  height: auto;
}
/* Sticky Footer, based on http://jsbin.com/qucet/2 and http://www.cssstickyfooter.com/ */
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 4rem;
}
#footer {
  position: relative;
  margin-top: -4rem;
  height: 4rem;
  clear: both;
}
@media only screen and (min-width: 40.063em) {
  #main {
    padding-bottom: 2.5rem;
  }
  #footer {
    margin-top: -2.5rem;
    height: 2.5rem;
  }
}
