@import url(http://fonts.googleapis.com/css?family=Podkova:400,700);

body#ldc-page-home {
  background-color: #000;
}
body#ldc-page-about {
  background-color: #fff;
}

body, h1, h2, h3, h4, h5, h6, button, .button {
  font-family: 'Podkova', sans-serif;
}

#ldc-nav-top {
  margin-top: 10px;
}

#ldc-logo-main, #ldc-logo-footer {
  width: 1100px;
  height: auto;
}